body {
    background-color: #ac1d69;
}

svg {
    position: fixed;
    top: 0;
    right: -10;
    width: 98%;
    /* Adjust the width as needed */
    height: 100vh;
    z-index: -1;
    /* Ensure the SVG stays behind other elements */
}



.links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

a:hover {
    text-decoration: underline;
}

a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}

/* Join Us button */
.join-button {
    position: absolute;
    top: 50%;
    /* Position the button at the vertical center */
    left: 50%;
    /* Position the button at the horizontal center */
    transform: translate(-50%, -50%);
    /* Center the button both horizontally and vertically */
}

.join-link {
    display: inline-block;
    padding: 15px 30px;
    /* Adjust padding as needed */
    background-color: #4285F4;
    /* Button background color */
    color: white;
    /* Button text color */
    font-size: 18px;
    /* Button text size */
    text-decoration: none;
    border-radius: 8px;
    /* Adjust border radius as needed */
}

.join-link:hover {
    background-color: #357AE8;
    /* Button background color on hover */
}

body {
    background-color: #ac1d69;
    margin: 0;
    /* Remove default margin to ensure the borders cover the entire viewport */
}

.left-border,
.right-border {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 30px;
    /* Adjust the width of the borders as needed */
    background-color: rgb(1, 10, 12);
    /* Adjust the color of the borders as needed */
    z-index: -1;
    /* Ensure the borders stay behind other content */
}

.left-border {
    left: 0;
    /* Adjust the left position */
}

.right-border {
    right: 0;
    /* Adjust the right position */
}




.welcome-text {
    position: absolute;
    top: 120px;
    left: 800px;
    right: 40px;
    font-size: 18px;
    color: black;
    background-color: #7FB3D5;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(80, 14, 211, 0.1);
    font-family: 'Lobster', cursive;
    /* Use Lobster font */
    /* Or use font-family: 'Great Vibes', cursive; for Great Vibes font */
}