svg {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /* Adjusted width to 100% */
    height: 100%;
    /* Adjusted height to 100% */
    z-index: 1;
    /* Assuming you've changed the z-index to 1 as per previous suggestion */
}

.links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

a:hover {
    text-decoration: underline;
}

.join-button {
    position: absolute;
    bottom: 50px;
    /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
}

.join-link {
    display: inline-block;
    padding: 15px 30px;
    /* Adjust padding as needed */
    background-color: #4285F4;
    /* Button background color */
    color: white;
    /* Button text color */
    font-size: 18px;
    /* Button text size */
    text-decoration: none;
    border-radius: 8px;
    /* Adjust border radius as needed */
}

.join-link:hover {
    background-color: darkgreen;
    /* Button background color on hover */
}

.word span.wiggle {
    animation: wiggle 0.5s ease-in-out infinite alternate;
}

.navbar a[href="about.html"] {
    color: #FFAB00;
    font-weight: bold;
}

.navbar a[href="tracks.html"] {
    color: #EA4335;
    font-weight: bold;
}

.navbar a[href="events.html"] {
    color: #008744;
    font-weight: bold;
}

.navbar a[href="our_team.html"] {
    color: #4285F4;
    font-weight: bold;
}

.navbar a[href="contact.html"] {
    color: black;
    font-weight: bold;
}